*.olean
/_target
/leanpkg.path
src/all.lean
decls.yaml
/_cache
/.DS_Store
.DS_Store
src/.DS_Store
/scripts
/.vscode
src/monlib.lean
.github/workflows/build.yml
.github/workflows/nolints.yml
nolints.txt
